<main class="container-fluid">
    <div class="row">

        <%= render "pages/sidebar" %>

        <!-- start of main content -->
        <div class="col-sm-9">

            <h1 class="h1 page-header">Edit Quote Id. <%=params[:id]%></h1>

            <%= render "form", quote: @quote %>

        </div>
        <!-- end of main content -->
    </div>
</main>