<main class="container-fluid">
    <div class="row">

        <%= render "pages/sidebar" %>

        <!-- start of main content -->
        <div class="col-sm-9">

            <h1 class="h1 page-header">New Quote for Listing Id. <%=params[:listing]%></h1>

            <%= render "form", quote: @quote, listing: @listing%>

        </div>
        <!-- end of main content -->
    </div>
</main>