<main class="container-fluid">
    <div class="row">

        <%= render "pages/sidebar" %>

        <!-- start of main content -->
        <div class="col-sm-9">

            <h1> Edit Listing </h1>

            <%= render "form", listing: @listing %>

        </div>
        <!-- end of main content -->
    </div>
</main>