<h1><%=current_user.user_type.capitalize%> Dashboard</h1>


<%if current_user.user_type == "designer"%>
    <%=link_to "View My Listings", listings_path%>
    <%=link_to "Create New Listing", new_listing_path%>
<%else%>
    <%=link_to "View All Listings", listings_path%>
<%end%>
