<main>
        <h1> Connecting Printers &amp; Designers </h1>


        <%=link_to "Sign Up As a Printer", new_user_registration_path(user_type: "printer")%> <br>
        <%=link_to "Sign Up As A Designer", new_user_registration_path(user_type: "designer")%> <br>
        
</main>




