$dark-blue: #01b0f5;
$mid-blue: #00cafa;
$light-blue: #9becff;
$white: #fff;

footer {
    background-color: $dark-blue;
    color: $white;
    padding: 2rem 1.5rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    // height: 60px;
    // line-height: 60px;
}

.copyright {
    text-align: center;
}

.footer_links ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    
    li {
        padding-left: 2rem;
    }

    a {
        color: white;
        text-decoration: none;
    }
}

@media only screen and (min-width: 768px) {
    .copyright {
        text-align: left;
    }
    .footer_links ul {
        justify-content: flex-end;
    }
}