$dark-blue: #01b0f5;
$mid-blue: #00cafa;
$light-blue: #9becff;
$white: #fff;

.navbar {
    background: linear-gradient(90deg,$dark-blue 0%,$light-blue 100%);
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}
.nav.navbar-nav a {
    color: $white;
}

@media only screen and (min-width: 768px) {
    .nav.navbar-nav.desktop {
        display: none;
    }
}