@import 'general';

.navbar {
    background: linear-gradient(90deg,$dark-blue 0%,$light-blue 100%);
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}
.navbar-inverse .navbar-nav li a {
    color: $white;
}

.navbar-inverse .navbar-toggle {
    border: none;
}

.navbar-brand {
    width: 10rem;
    height: 60px;
}

@media only screen and (min-width: 768px) {
    .nav.navbar-nav.desktop {
        display: none;
    }

    .navbar-nav li a {
        line-height: 35px;
    }
}