body {

    a {
        text-decoration: none;
    }
}

h1, h2 {
    font-family: 'Didact Gothic', sans-serif;
}

p, a {
    font-family: 'Open Sans', sans-serif;
}


h1 {
    font-size: 36px;
    text-align: center;
    padding-bottom: 36px;
}

// h2 {
//     font-size: 24px;
//     padding-bottom: 12px;
// }

.btn-primary {
    padding: 16px;

}
.hero_image {
    background-image: url(asset-path('hero_image_3d_printing.jpg'));
    background-position: center;
    // margin: 0 auto 36px auto;
    // width: 90%;
    height: 450px;
}

.hero_signup {
    background-color: #bedef7;
    // width: 90%;
    padding: 36px;
    box-sizing: border-box;
    // margin-bottom: 36px;

    p {
        font-size: 16px;
        margin-bottom: 36px;
    }
}

.button_link {
    background-color: #276EF1;
    color: #fff;
    padding: 15px 25px;
    text-align: center;
    // display: inline-block;
    // min-width: 150px;

    &:hover, &:active {
        background-color: #000;
      }
}

.divider {
    background-color: #276EF1;
    height: 2px;
    width: 90%;
    margin: 0 auto;
}

.method {
    margin: 36px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 16px 0;

        p:first-child {
            font-size: 18px;
            font-weight:600;
            margin-bottom: 12px;
        }
    }
}

.howItWorks_image {
    background-color: #276EF1;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin-bottom: 16px;
    align-self: center;
}

.what-is-3d-printing {
    margin: 0 auto;
    padding: 36px;
    background-color: #bedef7;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        margin-bottom: 12px;
    }
}

.secondary_signup {
    // width: 90%;
    // margin: 16px auto;
    text-align: center;

    .button_link {
        // width: 50%;
    }
}

@media only screen and (min-width: 768px) {
    .signup_buttons {
        // display: flex;
        // justify-content: space-around;
    }
    
    .hero_signup {
        // width: 40%;
    }

    .method {
        flex-direction: row;
        justify-content: space-around;

        div {
            // width: 30%;
        }
    }

}

@media only screen and (min-width: 1024px) {

}

.card {
    border: 2px solid black;
    margin: 10px;
    padding: 0 10px;
}



@import 'footer';