body {

    a {
        text-decoration: none;
    }
}

h1 {
    font-size: 36px;
    text-align: center;
    padding-bottom: 36px;
}

h2 {
    font-size: 24px;
    padding-bottom: 12px;
}

.hero_image {
    background-image: url(asset-path('hero_image_3d_printing.jpg'));
    background-position: center;
    margin: 0 auto 36px auto;
    width: 90%;
    height: 450px;
}

.hero_signup {
    background-color: #bedef7;
    width: 90%;
    padding: 36px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: 36px;

    p {
        font-size: 16px;
        margin-bottom: 36px;
    }
}

.button_link {
    background-color: #276EF1;
    color: #fff;
    padding: 15px 25px;
    text-align: center;
    display: inline-block;
    min-width: 150px;

    &:hover, &:active {
        background-color: #000;
      }
}

.divider {
    background-color: #276EF1;
    height: 2px;
    width: 90%;
    margin: 0 auto;
}

.how_it_works {
    margin: 36px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 16px 0;

        p:first-child {
            font-size: 18px;
            font-weight:600;
            margin-bottom: 12px;
        }
    }
}

.howItWorks_image {
    background-color: #276EF1;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin-bottom: 16px;
    align-self: center;
}

.what-is-3d-printing {
    margin: 0 auto;
    padding: 36px 0;
    background-color: #bedef7;
}

.card {
    border: 2px solid black;
    margin: 10px;
    padding: 0 10px;
}



@import 'footer';